/* common css start */
body {
  margin: 0;
  padding: 0;
  font-family: Lato-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
@font-face {
  font-family: Lato-Regular;
  src: url(../Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Italttfic;
  src: url(../Lato/Lato-Italic.ttf);
}
/* common css end */
/* header start */
header {
  background-color: #e8ebf1 !important;
  padding: 15px 0;
}
.c_logo {
}
.menu {
}

.menu ul li a {
  margin-right: 40px !important;
  font-weight: 700 !important;
  color: #000000 !important;
  padding: 10px 15px !important;
  transition: 0.3s;
}
.menu ul li:last-child a {
  margin-right: 0 !important;
}
.menu ul li a:hover {
  background-color: #fff;
  border-top: 5px solid #28adc6;
  color: #28adc6 !important;
}
.c_drop {
  border-bottom: 5px solid #28adc6;
}
/* header end */

/* slider start */
.slider {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #81e4ed;
}
.c_ind [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 15px;
}
.c_ind {
  bottom: -53px;
}

.b_img {
  width: 1280px !important;
  height: 500px !important;
}

/* slider end */
/* service start */
.service {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #e8ebf0;
}
.s_text {
  position: relative;
}
.s_text i {
  margin-right: 13px;
  border-radius: 50%;
  padding: 12px;
  background-color: #2aacc8;
}
.s_text h2 {
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  top: 13px;
}
.s_text p {
  margin-top: 20px;
  font-size: 13px;
  color: #363636;
}
.s_btn {
  position: relative;
}
.s_btn button {
  color: #36b0ca !important;
  font-size: 15px;
  position: absolute;
}
.s_btn button:hover {
  color: black !important;
}
.s_btn i {
  margin-right: 8px;
}
/* service end */
/* my work start */
.my_work {
  padding-bottom: 25px;
}
.work_text {
  padding-top: 20px;
  position: relative;
}
.work_text i {
  position: absolute;
  top: 26px;
  font-size: 27px;
  left: 7px;
  color: #2aacc8;
}
.work_text h2 {
  margin-left: 40px;
}
.w_img {
  height: 274px;
  width: 330px;
}
.but {
  position: relative;
}

.c_prev {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1179px;

  opacity: 1;
}
.c_prev,
.c_next {
  top: 13px;
}
.c_prev_i {
  color: black !important;
  font-size: 30px;
  background-color: #81e4ed;
  padding: 3px 12px;
  border-radius: 50%;
  opacity: 1 !important;
}
.c_next {
  height: 50px;
  width: 50px;
  right: -4px;
  opacity: 1;
}
/* my work end */
/*  Testimonial start*/
.Testimonial {
  margin-top: 10px;
}
.t_text {
}
.t_text p {
  word-spacing: 1px;
  line-height: 28px;
  margin-top: 20px;
}
.p_italic {
  font-family: Lato-Italttfic;
  font-size: 18px;
  font-weight: 700;
}
.t_icon {
  margin-bottom: 15px;
}
.t_icon i {
  font-size: 39px;
  color: #2bacc8;
  margin-right: 15px;
}
.t_icon h2 {
  font-weight: 700;
}
.t_img {
  margin-left: 45px;
}
.cl_icon {
  margin-bottom: 20px;
}
.cl_icon i {
  font-size: 39px;
  color: #2bacc8;
  margin-right: 15px;
}
.cl_icon h2 {
  font-weight: 700;
}
.img_group {
  position: relative;
}
.img_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background-color: transparent;
}
.image {
  width: 160px;
  height: 100px;
  border: 1px solid #e8ebf1;
  background: #f7f8fa;
  text-align: center;
}
.image img {
  margin-top: 19px;
}
.fuji {
  margin-top: 40px !important;
}
/*  Testimonial end*/
/* psd start */
.psd {
  margin: 40px 0;
}
.p_text {
  position: relative;
  background-color: #e8fcfe;
  border: 1px solid #a0ebf1;
}
.p_text p {
  padding: 40px 645px 40px 30px;
  color: #363636;
}
.p_text i {
  font-size: 33px;
  margin-right: 18px;
  color: white;
}
.p_text button {
  width: 240px;
  height: 58px;
  background-color: #6ad4e2;
  border: 1px solid #2aacc8;
  position: absolute;
  top: 46px;
  right: 70px;
  color: #0d0707;
  font-family: Lato-Regular;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 15px;
  transition: 0.3s;
}
.p_text button:hover {
  background-color: blue;
  color: #fff;
  transform: scale(0.9);
}
.p_text button:focus {
  outline: 0;
  box-shadow: none;
}
/* psd end  */
/* about start */
.about {
}
.a_text {
}
.c_h22 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 6px;
}
.c_text2 {
  color: #363636;
}
.e_text {
  margin-left: 30px;
}
.e_text h2 {
}
.e_text a {
  text-decoration: none;
}
.c_text:hover {
  border-top: 2px solid tomato !important;
  color: tomato;
}
.c_text {
  color: #363636;
  margin-bottom: 4px;
}
.b_text {
  margin-left: 55px;
}
.b_text a {
  text-decoration: none;
}
.b_text p {
  margin-right: 35px;
}
.b_text2 {
  margin-right: 22px !important;
}
.con_text {
  margin-left: 110px;
}
.con_text h3 {
  font-size: 16px;
  font-weight: 700;
}
.cannect_text {
  margin-left: 80px;
}
.c_icon {
  margin-top: 15px;
  /* margin-right: 90px; */
}
.c_icon i {
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 9px;
  padding-left: 10px;
  color: white;
}
.c_icon i:hover {
  transform: scale(0.8);
}
.fb {
  background-color: #3b5998;
  padding-left: 14px !important;
  margin-bottom: 25px;
  margin-right: 30px !important;
}
.dr {
  background-color: #ea4d89;
  margin-bottom: 25px;
  margin-right: 30px !important;
}
.pin {
  background-color: #c9171e;
  margin-bottom: 25px;
}
.link {
  background-color: #3399cc;
  margin-right: 30px !important;
}
.sky {
  background-color: #00aff0;
  margin-right: 30px !important;
}
.shar {
  background-color: #21a61b;
}
/* about end  */
/* footer start */
footer {
  margin: 40px 0;
}
.f_text {
}
.f_text p {
  padding-right: 50px;
  color: #363636 !important;
}
.f_logo {
  margin-left: 40px;
}
.f_logo a {
}
.f_logo img {
}
/* footer end */
